Button.social-icon{
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}

Button.social-icon a{
    text-decoration: none!important;
    color: white;
}

.justify-content-evenly {
    justify-content: center!important;
    gap: 20px!important;
}

.facebook{
    background-color: #4267B2;
}

.twitter{
    background-color: #1DA1F2;
}

.instagram{
    background-color: #d6249f;
}

.linkedin{
    background-color: #0a66c2;
}